# an example runtime config file
host_mtu 9000
host_addr 10.0.1.1
host_netmask 255.255.255.0
host_gateway 10.0.1.1
runtime_kthreads 6
runtime_spinning_kthreads 6
runtime_guaranteed_kthreads 6
runtime_priority lc
runtime_quantum_us 0
static_arp 10.0.1.1 0c:42:a1:dd:58:4c
static_arp 10.0.1.2 0c:42:a1:d6:fd:24
enable_directpath 1
