# an example runtime config file
host_addr 10.0.1.7
host_netmask 255.255.255.0
host_gateway 10.0.1.7
runtime_kthreads 6
runtime_spinning_kthreads 6
runtime_guaranteed_kthreads 6
runtime_priority lc
runtime_quantum_us 0
static_arp 10.0.1.1 b8:ce:f6:2a:2f:95
static_arp 10.0.1.7 08:c0:eb:b6:cd:5d
static_arp 10.0.1.8 08:c0:eb:b6:e8:05
static_arp 10.0.1.9 08:c0:eb:b6:c5:ad
enable_directpath 1
